{% extends './base.jinja2' %}


{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <form method="POST">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                type="text"
                id="matricula"
                name="matricula"
                placeholder="Digite sua matricula"
                required="true"
            />
            <label for="matricula" class="form-label">Matricula:</label>
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
                <input
                    class="form-control"
                    type="password"
                    id="senha"
                    name="senha"
                    placeholder="Digite sua senha"
                    required="true"
                />
        </div>
        <button type="submit">Entrar</button>
    </form>
    <br>
    <p>Não tem conta ? <a href="{{ url_for('auth.register') }}">Registre-se.</a></p>
</div>

{% endblock %}