{% extends "./base.jinja2" %}


{% block header %}
<h1>{% block title %}Criar Turma{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="{{ url_for('turmas.create') }}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input
                class="form-control"
                type="text"
                id="nome"
                name="nome"
                placeholder="Digite o nome da turma"
                required="true"
            />
        </div>
        <div class="mb-3">
            <label for="horario" class="form-label">Horario</label>
            <input
                class="form-control"
                type="text"
                id="horario"
                name="horario"
                placeholder="Digite o horario de aula"
                required="true"
            />
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input
                class="form-control"
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite a senha da turma"
                required="true"
            />
        </div>
        <div class="mb-3">
            <label for="semestre" class="form-label">Semestre</label>
            <input
                class="form-control"
                type="text"
                id="semestre"
                name="semestre"
                placeholder="Digite o semestre"
                required="true"
            />
        </div>
        <button type="submit">Criar</button>
    </form>
</div>

{% endblock %}