{% extends "./base.jinja2" %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block header %}
<h1>{% block title %}Criar Turma{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Turma {{ turma.nome }}</h3>
    <p>Semestre: {{ turma.semestre }}</p>
    <b>Aulas:</b>
    <div class="row row-col-1 row-cols-md-2 row-cols-lg-4">
        {% for aula in aulas %}
            <div>
                <div class="card">
                    <div class="card-body">
                        {% set aula_param = aula %}
                        {% set turma_param = turma %}
                        {% include 'aulas/show.jinja2' %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user.tipo_usuario == "professor" %}
            <div class="position-fixed bottom-0 end-0 p-3">
                <a href="{{ url_for('aulas.new', turma_id=turma.id) }}" class="btn btn-floating btn-lg btn-primary">
                    {{render_icon('plus') }} <span class="d-none d-xl-inline">Adicionar Aula</span>
                </a>
            </div>
    {% endif %}
</div>

{% endblock %}