{% extends "./base.jinja2" %}
{% block header %}
<h1>{% block title %}Listar Presenças{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Presenças - Aula do dia {{ aula.data_aula.strftime('%d/%m/%Y') }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Aluno</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            {% for aluno in alunos %}
                <td> {{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>
                    {% for presenca in presencas %}
                        {% if presenca.aluno_id == aluno.id %}
                            {{ presenca.data.strftime('%d/%m/%Y %H:%M') }}
                        {% endif %}
                    {% endfor %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
