{% block content %}
<div class="container">
    <p>Aula dia: {{ aula.data_aula.strftime('%d/%m/%Y') }}</p>
    <p>Horario: {{ turma.horario_inicio.strftime('%H:%M') }} ate {{ turma.horario_fim.strftime('%H:%M') }}</p>
    <p>Status: {{ aula.status }}</p>

    <div class="d-flex">
        {% if user.tipo_usuario == "aluno" and aula.status == "em andamento" %}
            <a class="btn btn-primary" href="{{ url_for('qrcode.qrcode') }}">Assinar chamada</a>

        {% elif user.tipo_usuario == "professor" %}
            <div>
                <a class="btn btn-primary" href="{{ url_for('turmas.aulas.edit', turma_id=turma.id, aula_id=aula.id) }}">Editar</a>
                <button class="btn btn-primary">Acompanhar</button>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
