{% extends "base.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Chamadas Unb</h1>
    <div id="my-courses">
        <h5>Minhas Turmas</h5>
        {% for turma in user.turmas %}
            <div>
                <h6>{{ turma.nome }}</h6>
                <p>{{ turma.professor_id }}</p>
                <p>{{ turma.horario }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
