{% extends "base.jinja2" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Chamadas Unb</h1>
    <div id="my-courses">
        <h2>Minhas Turmas</h2>
        {# {{% for turma in user.turmas %}}
            <div>
                <h1>{{ turma.nome }}</h1>
                <p>{{ turma.professor_id }}</p>
                <p>{{ turma.horario }}</p>
            </div>
        {{% endfor %}} #}
    </div>
{% endblock %}
